default:
    suites:
        default:
            paths:    [ features ]
            contexts:
                - App\Tests\Common\Behat\CommonContext
                - App\Tests\Client\Behat\ClientContext
                - App\Tests\User\Behat\LoggedUserContext

    extensions:
        FriendsOfBehat\SymfonyExtension:
            kernel:
                class: App\Kernel
            bootstrap: 'tests/bootstrap.php'
